<div data-role="page">
  
  <div data-role="header">
    <h1>Walmart</h1>
  </div><!-- /header -->

  <div role="main" class="ui-content">
    <b>Associate Support</b>
    <div data-role="collapsible" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
      <h4>Payroll</h4>
      <label for="order-number">Employee Number*</label>
      <input type="text" name="employee-number" id="employee-number" value="">
      <label for="order-number">Phone Number*</label>
      <input type="text" name="phone-number" id="phone-number" value="">
      <a href="#" class="ui-shadow ui-btn ui-corner-all">Call Payroll Now</a>
      <a href="#" class="ui-shadow ui-btn ui-corner-all">Have Payroll Call Me*</a>
      <a href="#" class="ui-shadow ui-btn ui-corner-all">Have Payroll Text Me*</a>
    </div>
    <div data-role="collapsible" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
      <h4>Open Door Issue</h4>
      <p>If you are calling concerning an open door issue, contact your market manager or regional personnel manager.</p>
    </div>
    <div data-role="collapsible" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
      <h4>Business Concerns</h4>
      <p>If you are calling about a business concern, contact your market manager or regional personnel manager.</p>
    </div>
    <div data-role="collapsible" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
      <h4>Business Ideas</h4>
      <p>If you are calling about a business idea, contact your market manager or regional personnel manager.</p>
    </div>
    <div data-role="collapsible" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
      <h4>Ethics Concerns</h4>
      <a href="#" class="ui-btn ui-corner-all">Call HIPAA Concerns</a>
      <a href="#" class="ui-btn ui-corner-all">Call Ethics Concerns</a>
    </div>
    <!-- HIPAA privacy questions -->
    <!-- Please call 1-800-wmethic -->
  </div><!-- /content -->

  <div data-role="footer">
    <h4>CSRApp</h4>
  </div><!-- /footer -->
</div>