<div data-role="page">
  
  <div data-role="header">
    <h1>Walmart</h1>
  </div><!-- /header -->

  <div role="main" class="ui-content">
    <b>Become a supplier</b>
    <p>If you are interested in becoming a supplier for Walmart or Sam's Club, please visit us on the web at http://corporate.walmart.com/suppliers/ you will find answers to your questions and can complete an online questionnaire.</p>
  </div><!-- /content -->

  <div data-role="footer">
    <h4>CSRApp</h4>
  </div><!-- /footer -->
</div>