<div data-role="page">
  
  <div data-role="header">
    <h1>Walmart</h1>
  </div><!-- /header -->

  <div role="main" class="ui-content">
    <b>Customer Support</b>
    <a href="/home/walmart_com_online_order" class="ui-btn ui-corner-all">Walmart.com Online Order</a>
    <a href="/home/store_experience" class="ui-btn ui-corner-all">Store Experience</a>
    <a href="/home/gift_card_or_credit_card" class="ui-btn ui-corner-all">Gift Card or Credit Card</a>
  </div><!-- /content -->

  <div data-role="footer">
    <h4>CSRApp</h4>
  </div><!-- /footer -->
</div>