
<div data-role="page">
  
  <div data-role="header">
    <h1>Walmart</h1>
  </div><!-- /header -->

  <div role="main" class="ui-content">
    <b>Gift Card or Credit Card</b>
    <a href="#" class="ui-btn ui-corner-all">Credit Card Questions</a>
    <a href="#" class="ui-btn ui-corner-all">Gift Card Questions</a>
  </div><!-- /content -->

  <div data-role="footer">
    <h4>CSRApp</h4>
  </div><!-- /footer -->
</div>