<div data-role="page">
  
  <div data-role="header">
    <h1>Walmart</h1>
  </div><!-- /header -->

  <div role="main" class="ui-content">
    <b>Store Experience</b>
    <a href="#" class="ui-btn ui-corner-all">Store Experience</a>
    <a href="#" class="ui-btn ui-corner-all">Store Returns</a>
    <a href="#" class="ui-btn ui-corner-all">Store Merchandise</a>
  </div><!-- /content -->

  <div data-role="footer">
    <h4>CSRApp</h4>
  </div><!-- /footer -->
</div>