<div data-role="page">
  
  <div data-role="header">
    <h1>Walmart</h1>
    
  </div><!-- /header -->

  <div role="main" class="ui-content">
    <b>Walmart.com Online Order</b>
    <div data-role="collapsible" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
      <h4>Track order</h4>
      <label for="order-number">Order number</label>
      <input type="text" name="order-number" id="order-number" value="">
      <h5> - or - </h5>
      <label for="order-number">Phone number</label>
      <input type="text" name="phone-number" id="phone-number" value="">
      <a href="#" class="ui-shadow ui-btn ui-corner-all">Submit</a>
    </div>
    <a href="#" class="ui-btn ui-corner-all">Mail-Order Pharmacy</a>
    <div data-role="collapsible" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
      <h4>Speak to Associate</h4>
      <label for="order-number">Phone number*</label>
      <input type="text" name="phone-number" id="phone-number" value="">
      <a href="#" class="ui-shadow ui-btn ui-corner-all">Call Associate Now</a>
      <a href="#" class="ui-shadow ui-btn ui-corner-all">Have Associate Call Me*</a>
      <a href="#" class="ui-shadow ui-btn ui-corner-all">Have Associate Text Me*</a>
    </div>
  </div><!-- /content -->

  <div data-role="footer">
    <h4>CSRApp</h4>
  </div><!-- /footer -->
</div>

<!-- check order -->
<!-- locate -->
<!-- pharmacy, credit card -->
<!-- associate -->